body{
  background-color: #262626;
  color: #B3B3B3;  
}

a{
  color: #B3B3B3;
  font-weight: bold;
}

#avatar{
  display: block;
  margin: auto;
  margin-top: 2%;
  border-radius: 50%;  
  box-shadow: 0px 0px 25px 0px rgba(0,0,0, 0.4);  
}

#name{
  text-align: center;
  color: white;
}

#nav {
  text-align: center;
  background-color: #404040;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0, 0.4);
  margin: 0% 10% 0% 10%;
}
#nav > h1{
  display: inline;
  padding: 0% 3%;
  cursor: pointer;   
}
#nav > h1:hover{
  color:white;  
}

#content{
  height: 500px;
}

.element >h1, .element >h1{
  text-align: center;
}

.element{
  width: auto;
  margin: 0 12% 0 12%;
  text-align: justify; 
  font-size: 30px;
}

#knowledge{
  margin: 2.5% 15% 0% 20%;
}

.language{
  cursor: pointer;  
  margin: 0% 1%;
  width: 30%;
}

.language_info, #text{
  text-align: justify;
  font-family: 'Roboto Condensed', sans-serif;  
}

#title, .language_info > h1{
  color: #DADADA;
}

#social{
  text-align: center; 
}
.social_link{
  width: 30%;
  float: left;
  margin: 5% 0% 0% 12%;
}


