body {
  margin: 0;
  padding: 0;
  color: #dcdcdc;
  background-color: #1e1e1e;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #ffcc00;
}

ul {
  list-style: none;
  padding: 0;
  color: #dcdcdc;
}

.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background: #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#header {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 20px 0;
}

#avatar {
  border-radius: 50%;
  margin-bottom: 10px;
}

#name {
  font-size: 2em;
  margin: 0;
  color: #ffcc00;
}

#nav h1 {
  display: inline-block;
  margin: 0 15px;
  font-size: 1em;
}

#nav h1 a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

#nav h1:hover {
  color: #ffcc00;
}

#knowledge_imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  margin: 0 auto;
}

.language {
  width: 80px;
  height: 80px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.language:hover {
  transform: scale(1.1);
}

.language_info {
  display: none;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: 20px;
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  max-height: 300px;
  overflow-y: auto;
}

.language_info.active {
  display: block;
  width: 60%;
}

.language_info h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #ff9800;
}

.language_info ul li {
  margin-bottom: 5px;
}

.social_link {
  text-align: center;
  margin: 20px 0;
}

.social_link a {
  margin: 0 10px;
}

.social_link img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.social_link img:hover {
  transform: scale(1.2);
}

#info #text, 
#practices #text, 
#studies #text {
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
}

@media (max-width: 980px) {
  #header {
    padding: 15px 0;
  }

  #name {
    font-size: 1.5em;
  }

  #nav h1 {
    margin: 0 10px;
    font-size: 0.9em;
  }

  .container {
    padding: 15px;
  }

  #knowledge_imgs .language {
    width: 80px;
    height: 80px;
  }

  .social_link img {
    width: 25px;
    height: 25px;
  }
}

.social_link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
}

.social_link a {
  display: block;
  margin: 10px 0;
}

.social_link img {
  width: 30px;
  height: 30px;
}

#knowledge_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 60%;
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
}

/* Estilo para el bot칩n "Ver CV" */
#cvButton {
  background-color: #4CAF50; /* Verde */
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

#cvButton:hover {
  background-color: #45a049; /* Cambio de color al pasar el rat칩n */
}

/* Estilo para el bot칩n en pantallas peque침as */
@media (max-width: 980px) {
  #cvButton {
    padding: 8px 16px;
    font-size: 14px;
  }
}
