@font-face {
  font-family: "antiguoFont";
  src: url("antiguo_jesulink.ttf")
}

.container {
  display: flex;
  margin: auto;
  width: 70%;
  flex-direction: column;
}

.number-translators, .text-translators {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 6rem;
}

.number-translator, .text-translator {
  display: flex;
  flex-direction: column;  
}

.antiguo-from-spanish {  
  font-size: 40px;
}

#antiguo-numbers-grid, #antiguo-letters-grid {
  display: flex;
  flex-flow: row wrap;
}

#antiguo-letters-grid {
  margin: auto;
}

.antiguo-button {
  display: flex;
  flex-direction: column;
  width: 2.7rem;
  margin: 0.5rem 0.5rem;
}

.button-content {
  margin: auto;
  
}

.button-content-antiguo {
  padding-left: 0.1rem;
  font-size: 2rem;
}

.button-content-letter {
  font-size: 1.5rem;
}

.antiguo-font {
  font-family: "antiguoFont";
}

.antiguo-to-spanish-text {
  width: 40%;
}