.word-separator {
  width: 50px;
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
}

.paragraph-separator {
  height: 50px;
}

.character {
  width: 5%;
}

.button-symbol {
  width: 4%;
  margin: 0.5rem;
}

.button-symbol-image {
  width: 100%;
}

.button-symbol-label {
  color: black;
}

.container {

}