.word-separator {
  width: 50px;
}

.paragraph {
  display: flex;
  flex-wrap: wrap;
}

.paragraph-separator {
  height: 50px;
}

.character {
  width: 6%;
  margin-top: 10px;
}

.button-symbol {
  width: 4%;
  margin: 0.5rem;
}

.button-symbol-image {
  width: 100%;
}

.button-symbol-label {
  color: black;
}

#roshar-to-char {
  display: none;
}

#char-to-roshar {
  display: flex;
  margin: 0 5%;
  margin-top: 1%;
  flex-direction: column;
}

.char-to-roshar-title {
  text-align: center;
}

.char-to-roshar-translate {
  display: flex;
}

.char-to-roshar-translate-input {
  margin-right: 1rem;
  width: 25%;
}

#text-input {
  width: 400px;
  height: 400px;
  margin-top: 2rem;
}

.special-case {
  font-size: 7rem
}

.char-to-roshar-translate-output {
  width: 400px;
  height: 400px;
  margin: 0rem 2rem 0 1rem;
  width: 70%;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.title {
  width: 20%;
}

.title:hover {
  cursor: pointer;
}

.container {

}